/*

Base Colors:

- Main MTU Color: #ffcd00
- Main MTU Black: #000000
- Light MTU Color: #f0fcfc

*/

:root{
    --mtu-color: #ffcd00;
    --mtu-black: #000000;
    --mtu-light: #f0fcfc;
    --mtu-dark-background: #242424;
    --mtu-dark-text: #ffffff;
    --mtu-dark-color: #4a4a4a;
}


@font-face {
    font-family: 'Lato';
    src: url('moz-extension://__MSG_@@extension_id__/resources/fonts/Lato-Regular.ttf');
}

#header{
    display: none;
}

#pagefooter{
    display: none;
}

.disclaimer{
    display: none;
}

#searchField{
    border: 4px solid var(--mtu-color);
    border-radius: 10px;
}

*{
    font-family: 'Lato', sans-serif !important;
}

body{
    background-color: var(--mtu-light);
    
    margin: 0;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
}

body.dark{
    background-color: var(--mtu-dark-background);
    color: white;
}

span{
    display:block;
}

*{
    font-family: 'Lato', sans-serif;
}

.text-center{
    text-align: center;
}

.text-small{
    font-size: 12px;
}

.text-medium{
    font-size: 16px;
}

.text-large{
    font-size: 20px;
}

.text-huge{
    font-size: 24px;
}

.text-bold{
    font-weight: bold;
}

.settings{
    margin: 10px 20px;
    box-sizing: border-box;
}

.settings-line{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.button-container {
    display: inline-block;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text within the container */
}

.container{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.dark .container{
    background-color: var(--mtu-dark-background);
}

.container-outer-border {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: 4px solid var(--mtu-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%; 
    max-width: 600px; 
    margin: 20px;
}

.dark .container-outer-border{
    background-color: var(--mtu-dark-background);
    border: 4px solid var(--mtu-dark-color);
}

.container-outer-border .header{
    background-color: var(--mtu-color);
    border-radius: 0px 0px 10px 10px;
    color: white;
    padding: 4px 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    
}

.dark .container-outer-border .header{
    background-color: var(--mtu-dark-color);
    color: white;
}

.container-inner-border{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: 4px solid var(--mtu-light);
}

.dark .container-inner-border{
    background-color: var(--mtu-dark-background);
    border: 4px solid var(--mtu-dark-color);
}



.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    border-radius: 4px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 10px;
    background-color: #eee;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: var(--mtu-color);
  }
  
  .dark .checkbox-container input:checked ~ .checkmark {
    background-color: var(--mtu-dark-color);
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

#pagebody{
    display: flex;
}

#navigationcontrol{
    display: inline-block;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

#welcomemessage img{
    height: 100px;
}

.menucontainer{
    width: unset !important;
}

.menucontainer .menuitemseparator{
    display:none;
}

#menuTrackInst{
    display: block !important;
    text-align: left;
    width: unset !important;
}

#menuTrackInst .menuitem{
    float: unset !important;
    display: block;
    margin: 10px;
}

.navArrowLeft{
    display: none;
}

.navArrowRight{
    display: none;
}

.menuitem button{
    text-align: left;
    border-radius: 10px;
    margin: 10px;
    background-color: var(--mtu-color);
    padding: 0px 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    width: unset;
    border: 2px solid black;
}

.menuitem .menu{
    background: none;
    margin: 0;
    padding: 0;
}

.menuitem .menu div{
    background: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuitem .menu div span{
    background: none;
    margin: 0;
    padding: 0;
}

.menuitem .descriptionText{
    display: none;
}

#crumb{
    display:none;
}


.datadisplaytable .ddheader{
    margin: 4px !important;
    padding: 10px !important;
    border-radius: 10px;
}

.htmlButtonLevel2-3 {
    margin: 5px 5px;
    text-align: center !important;
    padding: 10px;
    box-sizing: border-box;
    border: 4px solid var(--mtu-black); /* Apply border here */
    border-radius: 25px; /* Apply border-radius here */
    overflow: hidden;
}

.htmlButtonLevel2-3 > div {
    display: contents; /* Keep this */
    height: 177px;
    align-items: center;
}

.htmlButtonLevel2-3 h3 {
    padding: 5px 10px;
    background-color: black !important;
    color: white !important;
    text-align: center !important;
    border-radius: 10px; /* Rounded corners for the header */
    margin: 0; /* Fix margin syntax */
}

.htmlButtonLevel2-3 p {
    margin-top: 10px 0 0;
    text-align: center;
}
#contentBelt{
    width: 90% !important;
}


#contentSubHolder{
    position: relative;
    top: 0px;
    padding: 25px;
    overflow: hidden;
    width: 95%;
}


#level3Container{
    border: 2px solid black;
    border-radius: 4px;
    margin: 10px;
}

#level3Container li a{
    border-radius: 10px;
}

#level3Container h3{
    background: none !important;
}
#level3Container h3:hover{
    background: none !important;
}

*, *::before, *::after {
    box-sizing: border-box;
}