/*

Base Colors:

- Main MTU Color: #ffcd00
- Main MTU Black: #000000
- Light MTU Color: #f0fcfc

*/

@font-face {
    font-family: 'Lato';
    src: url('moz-extension://__MSG_@@extension_id__/resources/fonts/Lato-Regular.ttf');
}

#header-container{
    display: none !important;
}

#mtu-alerts{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin:0;
}

.login-parent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-width: 500px;
}

#login input{
    width: 100% !important;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box !important;
    margin: 10px 0px;
    transition: border 0.3s ease-in-out;
    margin-top:5px;
}

#login input.error{
    border: 2px solid red;
}

#login label{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    width: 100% !important;
    margin-top: 20px;
}

#login [type="submit"]{
    background-color: black !important;
    color: white !important;
    border: none !important;
    border-radius: 10px !important;
    padding: 10px !important;
    font-size: 20px !important;
    cursor: pointer !important;
    width: 50% !important;
}

#login section{
    margin: 0px !important;
    width: 50%;
}

#mtu-alerts .alert{
    border-radius: 0px 0px 10px 10px;
}

#pagefooter{
    display: none;
}

#notices{
    display: none;
}

.disclaimer{
    display: none;
}

#searchField{
    border: 4px solid #ffcd00;
    border-radius: 10px;
}

.alert.alert-danger{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 10px 10px 0px 0px;
}

*{
    font-family: 'Lato', sans-serif !important;
}

body{
    background-color: #faffff;
    
    margin: 0;
    padding: 20px;
    border-radius: 10px;
}

body.dark{
    background-color: #242424;
    color: white;
}

span{
    display:block;
}

*{
    font-family: 'Lato', sans-serif;
}

.text-center{
    text-align: center;
}

.text-small{
    font-size: 12px;
}

.text-medium{
    font-size: 16px;
}

.text-large{
    font-size: 20px;
}

.text-huge{
    font-size: 24px;
}

.text-bold{
    font-weight: bold;
}

.settings{
    margin: 10px 20px;
    box-sizing: border-box;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.settings-line{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.container{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.dark .container{
    background-color: #242424;
}

.container-outer-border{
    background-color: white !important;
    border-radius: 20px !important;
    padding: 0px 10px 10px 10px !important;
    border: 8px solid #ffcd00;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}

.dark .container-outer-border{
    background-color: #242424;
    border: 4px solid #4a4a4a;
}

.container-outer-border .header{
    background-color: #ffcd00;
    border-radius: 0px 0px 10px 10px;
    color: white;
    padding: 4px 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    
}

.dark .container-outer-border .header{
    background-color: #4a4a4a;
    color: white;
}

.container-inner-border{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: 4px solid #f0fcfc;
}

.dark .container-inner-border{
    background-color: #242424;
    border: 4px solid #4a4a4a;
}



.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    border-radius: 4px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 10px;
    background-color: #eee;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #ffcd00;
  }
  
  .dark .checkbox-container input:checked ~ .checkmark {
    background-color: #4a4a4a;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.logo-container img{
    margin: 0px 20px;
    height: 100px;
}

.card{
    background-color: white !important;
    border-radius: 20px !important;
    padding: 0px 10px 10px 10px !important;
    border: 8px solid #ffcd00;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}