/*

Base Colors:

- Main MTU Color: #ffcd00
- Main MTU Black: #000000
- Light MTU Color: #f0fcfc

*/

:root{
    --mtu-color: #ffcd00;
    --mtu-black: #000000;
    --mtu-light: #f0fcfc;
    --mtu-dark-background: #242424;
    --mtu-dark-text: #ffffff;
    --mtu-dark-color: #4a4a4a;
    --mtu-success: #15a115;
}

@font-face {
    font-family: 'Lato';
    src: url('moz-extension://__MSG_@@extension_id__/resources/fonts/Lato-Regular.ttf'),
        url('chrome-extension://__MSG_@@extension_id__/resources/fonts/Lato-Regular.ttf'),
        sans-serif;
}

body{
    background-color: #faffff;
    margin: 0;
    padding: 20px;
    border-radius: 10px;
}

body.dark{
    background-color: #242424;
    color: white;
}

span{
    display:block;
}

*{
    font-family: 'Lato', sans-serif;
}

.text-center{
    text-align: center;
}

.text-small{
    font-size: 12px;
}

.text-medium{
    font-size: 16px;
}

.text-large{
    font-size: 20px;
}

.text-huge{
    font-size: 24px;
}

.text-bold{
    font-weight: bold;
}

.settings{
    margin: 10px 20px;
    box-sizing: border-box;
}

.settings-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.container{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.dark .container{
    background-color: #242424;
}

.container-outer-border{
    background-color: white;
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
    border: 4px solid #ffcd00;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}

.dark .container-outer-border{
    background-color: #242424;
    border: 4px solid #4a4a4a;
}

.container-outer-border .header{
    background-color: #ffcd00;
    border-radius: 0px 0px 10px 10px;
    color: black;
    padding: 4px 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    
}

.dark .container-outer-border .header{
    background-color: #4a4a4a;
    color: white;
}

.container-inner-border{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: 4px solid #f0fcfc;
}

.dark .container-inner-border{
    background-color: #242424;
    border: 4px solid #4a4a4a;
}



.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    border-radius: 4px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 10px;
    background-color: #eee;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #ffcd00;
  }
  
  .dark .checkbox-container input:checked ~ .checkmark {
    background-color: #4a4a4a;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

input[type="button"]{
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    background-color: var(--mtu-color);
    padding: 0px 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    width: unset;
    border: 2px solid black;
}

input[type="text"]{
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 5px 10px;
    height: unset;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    width: unset;
    border: 2px solid black;
    margin: 0px 10px;
}