/*

Base Colors:

- Main MTU Color: #ffcd00
- Main MTU Black: #000000
- Light MTU Color: #f0fcfc

*/

@font-face {
    font-family: 'Lato';
    src: url('moz-extension://__MSG_@@extension_id__/resources/fonts/Lato-Regular.ttf');
}

html{
    background-color: #faffff;
    margin: 0;
    padding: 20px;
    border-radius: 10px;
}

span{
    display:block;
}

*{
    font-family: 'Lato', sans-serif;
}

.text-center{
    text-align: center;
}

.text-small{
    font-size: 12px;
}

.text-medium{
    font-size: 16px;
}

.text-large{
    font-size: 20px;
}

.text-huge{
    font-size: 24px;
}

.text-bold{
    font-weight: bold;
}

.settings{
    margin: 10px 20px;
    box-sizing: border-box;
}

.settings-line{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.container{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.container-outer-border{
    background-color: white;
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
    border: 4px solid #ffcd00;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container-outer-border .header{
    background-color: #ffcd00;
    border-radius: 0px 0px 10px 10px;
    color: white;
    padding: 4px 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    
}

.container-inner-border{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: 4px solid #f0fcfc;
}